body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-image: url(https://cdn.create.vista.com/api/media/small/12028364/stock-vector-green-leaves-texture);
    box-shadow: 0px 0px 50px 50px rgba(85, 255, 0, 0.6) inset;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 1.5rem;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 98%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1cce22f9;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #01aa07f9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    padding-right: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f9;
}

.total {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}